<footer class="footer-fixed">
    <div class="footer-principal-movil">
        <div class="footer-principal-left">
            <div class="icono-luz"><a href="#">
                    <h2><i class="fa-brands fa-square-instagram"></i>&nbsp;&nbsp;</h2>
                </a></div>
            <div class="icono-luz"><a href="#">
                    <h2><i class="fa-brands fa-square-facebook"></i>&nbsp;&nbsp;</h2>
                </a></div>
            <div class="icono-luz"><a href="#">
                    <h2><i class="fa-brands fa-square-twitter"></i>&nbsp;&nbsp;</h2>
                </a></div>
            <div class="icono-luz">
                <a href="#">
                    <h2><i class="fa-solid fa-square-envelope"></i>&nbsp;&nbsp;</h2>
                </a>
            </div>
            <div class="icono-luz">
                <a href="#">
                    <h2><i class="fa-solid fa-square-phone"></i></h2>
                </a>
            </div>
        </div>
        <div class="footer-principal-right">

            <div>
                <h4>&#169; 2023 B&S</h4>
            </div>
        </div>
    </div>
    <div class="footer-principal">
        <div class="footer-principal-left">
            <div>
                <h3>&#169; 2023 BITS & SOUND &nbsp;&nbsp;&nbsp;</h3>
            </div>
            <div class="icono-luz"><a href="#">
                    <h1><i class="fa-brands fa-square-instagram"></i>&nbsp;&nbsp;</h1>
                </a></div>
            <div class="icono-luz"><a href="#">
                    <h1><i class="fa-brands fa-square-facebook"></i>&nbsp;&nbsp;</h1>
                </a></div>
            <div class="icono-luz"><a href="#">
                    <h1><i class="fa-brands fa-square-twitter"></i>&nbsp;&nbsp;</h1>
                </a></div>
        </div>
        <div class="footer-principal-right">
            <div class="icono-luz"><a href="#">
                    <h1><i class="fa-solid fa-square-envelope"></i>&nbsp;&nbsp;</h1>
                </a></div>
            <div class="icono-luz"><a href="#">
                    <h1><i class="fa-solid fa-square-phone"></i></h1>
                </a></div>
        </div>
    </div>
</footer>
