<div class="header-principal">
    <div class="header-principal-left">
        <img class="header-logo" src="images/logo_bits_and_sound_linear.png" alt="">
    </div>
    <div class="header-principal-right">
        <div class="icono-luz">
            <h1><a href="/cart"><i class="fa-solid fa-cart-shopping"></i></a>&nbsp;&nbsp;</h1>
        </div>
        <div><a href="/login" class="myButton">Mi cuenta</a></div>
    </div>
    <div class="header-principal-right-movil">
        <div class="icono-luz">
            <h2><a href="#"><i class="fa-solid fa-cart-shopping"></i></a>&nbsp;&nbsp;</h2>
        </div>
        <div class="icono-luz">
            <h2><a href="#"><i class="fa-solid fa-bars"></i></a></h2>
        </div>
    </div>
</div>