@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

:root {
    --amarillo: #EEB76B;
    --naranja: #E2703A;
    --bordo: #9C3D54;
    --negro: #310b0b;
}

.header-principal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #310b0b;
    margin: 0px;
    padding: 20px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 10;
    box-shadow: 0px 8px 12px 1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 8px 12px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 8px 12px 1px rgba(0, 0, 0, 0.75);
    transition: all 600ms;
}

.header-principal:hover {
    -webkit-box-shadow: 0px 0px 17px 1px rgba(255, 232, 138, 1);
    -moz-box-shadow: 0px 0px 17px 1px rgba(255, 232, 138, 1);
    box-shadow: 0px 0px 17px 1px rgba(255, 232, 138, 1);
}

.header-principal-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-principal-right {
    display: none;
    justify-content:flex-end;
    align-items: center;
    margin-right: 20px;
    transition: all 200ms;

}

.header-principal-right-movil {
    background-color: var(--negro);
    display: flex;
    justify-content:flex-end;
    align-items: center;
    margin-right: 0px;
    transition: all 200ms;

}

.header-logo {
    max-width: 150px;
    /* max-width: 20vw;  ESTE ACHICA y AGRANDA EL LOGO con el responsive */
}



body {
    background-color: var(--negro);
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.icono-luz {
    display: flex;
    align-items: flex-end; 
    padding-right: 4px;
    background: -webkit-linear-gradient(var(--amarillo), var(--naranja));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 200ms;
}

.icono-luz:hover {
    text-shadow: var(--amarillo) 1px 0 20px;
}

.icono-luz:active {
	position:relative;
	top:1px;
}

.pistas-main-container {
    width: 100%;
    min-height: 87vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    text-align: center;
    position: relative;
    padding-top: 110px; 
    z-index: 1;
} 

.pista {
    width: 94vw;
/*     border: solid 1px black; */
    border: none;
    border-radius: 3px;
    background-image: linear-gradient(var(--naranja), var(--negro));
    
    /* block-size: auto; */
    font-size: 1rem;
    padding: 2px;
    margin: 4px;

    background: rgb(49,11,11);
 /*    background: -moz-linear-gradient(0deg, rgba(49,11,11,1) 0%, rgba(238,183,107,1) 50%, rgba(49,11,11,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(49,11,11,1) 0%, rgba(238,183,107,1) 50%, rgba(49,11,11,1) 100%);
    background: linear-gradient(0deg, rgba(49,11,11,1) 0%, rgba(238,183,107,1) 50%, rgba(49,11,11,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#310b0b",endColorstr="#310b0b",GradientType=1);
 */
    -webkit-box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.84);
    -moz-box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.84);
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.84); 
    transition: all 300ms;
}

.pista-pista:hover {
    box-shadow: 0px 0px 8px 1px var(--naranja) inset;
    -webkit-box-shadow: 0px 0px 8px 1px var(--naranja) inset;
    -moz-box-shadow: 0px 0px 8px 1px var(--naranja) inset;
}


.pista-pista {
    width: 100%;
    padding: 0px;
    background-color: var(--negro);
    display: flex;
    border-radius: 3px;
    flex-direction: row;
    justify-content:flex-start;
    transition: all 200ms;
}

.pista-imagen {
    width: 40px;
    padding-bottom: 0px;
    border-radius: 50%;
}


.pista-cover {
    width: 10%;
    text-align: left;
    display:flex;
    justify-content: flex-start;
    align-content: center;
/*     padding-bottom: 3px; */
    
}

.pista-artista-titulo {
    width: 50%;
    color: var(--amarillo);
    font-size: 0.7rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
/*     padding-left: 2px;
    padding-bottom: 2px;
 */    
}

.pista-controles {
    width: 27%;
    color: var(--amarillo);
    font-size: 1.3rem;
    text-align: left;
    display: flex;
    flex-direction: rox;
    justify-content: center;
    align-items: center;
}

.pista-comprar{
    width: 15%;
    color: var(--amarillo);
    font-size: 0.7rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 12px;
}

.pista-comprar-precio{
    font-size: 1.0rem;
}

.pista-comprar-icono-mas {
    display: flex;
    align-items: flex-end; 
    padding-right: 4px;
    background: -webkit-linear-gradient(var(--amarillo), var(--naranja));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1rem;
    transition: all 200ms;
}

.pista-comprar-icono-mas:hover {
    text-shadow: var(--amarillo) 1px 0 20px;
}

.pista-comprar-icono-mas:active {
	position:relative;
	top:1px;
}

.footer-main {
    position: relative;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    width: 100%;
    height: 13vh;
    margin-top: 30px; 
    height: 9vh;
    background-color: var(--negro);
    color: var(--amarillo);
 
    
    box-shadow: 0px -8px 12px 1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px -8px 12px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -8px 12px 1px rgba(0,0,0,0.75);
    transition: all 600ms;
 }

 .footer-main:hover {
    -webkit-box-shadow: 0px -7px 18px -7px rgba(255, 232, 138, 1);
    -moz-box-shadow: 0px -7px 18px -7px rgba(255, 232, 138, 1);
    box-shadow: 0px -7px 18px -7px rgba(255, 232, 138, 1);
}

.footer-principal-movil {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    left:0;
    z-index: 20;

  
}

.footer-principal {
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-bottom: 0px;
    padding: 20px;
    width: 100%;
  
}

.footer-principal-left {
    text-align: left;
    margin-left: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-principal-right {
    display: flex;
    justify-content:flex-end;
    align-items: center;
    padding-right: 14px;
     transition: all 200ms;
}

.footer-logo {
    padding-top: 10px;
    max-width: 250px;
    /* max-width: 20vw;  ESTE ACHICA / AGRANDA EL LOGO*/
}

.myButton {
	background:linear-gradient(to bottom, #eeb86b 5%, #e26f3a 100%);
	background-color:#eeb86b;
	border-radius:4px;
	display:inline-block;
	cursor:pointer;
	color:#310b0b;
	/* font-family:Arial; */
	font-size:15px;
	font-weight:bold;
	padding:6px 14px;
	text-decoration:none;
}

.myButton:hover {
    box-shadow: var(--amarillo) 1px 0 20px;
}

.myButton:active {
	position:relative;
	top:1px;
}

@media (min-width: 410px) {
.pista-imagen{
    width: 40px;
}
.pista-titulo {
    font-size: 0.85rem;
}
.header-logo {
    max-width: 190px;
}

}

@media (min-width: 610px) {
    .header-principal-right-movil{
        display: none;
    }
    .header-principal-right{
        display:flex;
    }
    .header-logo {
        max-width: 250px;
    }
    .footer-principal{
        display: flex;
    }
    .footer-principal-movil{
        display: none;
    }
    .pista-imagen {
        width: 40px;
    }
    .pista-titulo {
        font-size: 1rem;
    }
    
}


