@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    color: var(--amarillo);
}

:root {
    --amarillo: #EEB76B;
    --naranja: #E2703A;
    --bordo: #9C3D54;
    --negro: #310b0b;
}
 
/*LOGIN*/

.login-main{
    width: 100%;
    align-content: center;
    position: relative;
    padding-top: 20svh; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
}

.login-cuadro{
    width: 80%;
    max-width: 400px;
    height: 330px;
    border: solid 1px black;
    border-radius: 4px;
    background-image: linear-gradient(var(--naranja), var(--negro));
    font-size: 1rem;
    padding: 2px;
    margin: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(var(--naranja), var(--negro));
    -webkit-box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.84);
    -moz-box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.84);
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.84);
    transition: all 300ms;
}

.login-cuadro-cuadro{
    width: 99%;
    height: 99%;
    padding: 5px 10px 5px 10px;
    background-color: var(--negro);
    color: var(--amarillo);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-radius: 3px;
}

.login-form {
    color: var(--amarillo);
    padding: 10px;
    width: 100%;
    
}

.login-form-field{
    padding-top: 20px; 
    width: 100%;
}

.login-form-button{
    width: 100%;
    margin-top: 30px;
    padding: 0;
    border-radius: 5px;
    outline:none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form-field input{
    border: solid 1px var(--amarillo);
    border-radius: 5px;
    padding: 5px;
    outline: none;
    margin-top: 5px;
    font-size: 1rem;
    background-color: var(--negro);
    color: var(--amarillo);
    width: 100%;
}

.login-form-field label {
    width: 100%;
}

.login-form-field input:focus {
/*     outline:none; */
    -webkit-box-shadow: 0px 0px 10px 1px rgba(255, 232, 138, 1);
    -moz-box-shadow: 0px 0px 10px 1px rgba(255, 232, 138, 1);
    box-shadow: 0px 0px 10px 1px rgba(255, 232, 138, 1);
}

/*REGISTER*/

.form-register {
    padding: 20px;
    width: 100%
}

.control-register-form {
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
} 

/* .checkbox-category{
    display: flex;
    flex-direction: column;
}
 */
 
 .control-register-form label {
    margin-bottom: 10px;
}

.control-register-form input {
    border: none;
    border-radius: 5px;
    padding: 5px 0;
    padding-left: 3px;
}

.title-register {
    font-weight: 600;
}

.reset-button,
.submit-button {
    margin: 20px 5px;
    padding: 6px 15px;
    border-radius: 5px;
    border: none;
    color: white;
}

.reset-button {
    background-color: #eeb76b;
}

.submit-button {
    background-color: #E2703A;
} 

.button-send-reset-register{
    width: 20%;
display: flex;
margin: auto;
justify-content: space-evenly;
}
     .control-register-form {
        align-items: center;
    } 

    .subcontrol-register-form {
        color: var(--amarillo);
        background-color: var(--negro);
        width: 80%;
    }

    .checkbox-category, .user-category{
        width: 40%;
        max-width: 300px;
    }


    .checkbox-category input, .user-category input{
        width: 40px;
        border: none;
    }

    /*LOGIN*/
    .control-login-form {
        align-items: center;
    } 

    .subcontrol-register-form, .login-submit-botton{
        width: 80%;
        max-width: 600px;
    }


    .icono-luz {
        display: flex;
        align-items: flex-end; 
        padding-right: 4px;
        background: -webkit-linear-gradient(var(--amarillo), var(--naranja));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: all 200ms;
    }
    
    .icono-luz:hover {
        text-shadow: var(--amarillo) 1px 0 20px;
    }
    
    .icono-luz:active {
        position:relative;
        top:1px;
    }

    
    