<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="css/styles-root.css" rel="stylesheet">
    <link href="css/styles-header-footer.css" rel="stylesheet">
    <link href="css/styles-pistas.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="css/normalize.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Pistas</title>
</head>

<body>
    <header>
        <%- include('header') %>
    </header>
    <main>
        <section class="pistas-main-container">
            <% let i=1; for (i=1 ; i<=20; i++) { let arx="images/tracks/headshot" +i.toString().padStart(2, '0' )+".jpg"
                %>
                <article class="pista">
                    <div class="pista-pista">
                        <div class="pista-cover">
                            <img class="pista-imagen" src="<%=arx%>" alt="">
                        </div>
                        <div class="pista-artista-titulo">
                            <h3>Nombre del Artista - información adicional <%=arx%>
                            </h3>
                            <h2>Titulo del trabajo y mensaje del artista</h2>
                        </div>
                        <div class="pista-controles">
                            <div class="icono-luz"><a href="#">
                                    <h1><i class="fa-solid fa-circle-play"></i>&nbsp;&nbsp;</h1>
                                </a>
                            </div>
                            <div class="icono-luz"><a href="#">
                                    <h1><i class="fa-solid fa-circle-info"></i></i></h1>
                                </a>
                            </div>
                        </div>
                        <div class="pista-comprar">
                            <div class="pista-comprar-precio">
                                <h1>$ 999,99&nbsp;&nbsp;&nbsp;</h1>
                            </div>
                            <div class="pista-comprar-icono-mas">
                                <h1><a href="#"><i class="fa-solid fa-circle-plus"></i></a></h1>
                            </div>
                        </div>
                    </div>
                </article>
                <% } %>
        </section>
    </main>
    <footer class="footer-main">
        <div class="footer-principal-movil">
            <div class="footer-principal-left">
                <div class="icono-luz"><a href="#">
                        <h2><i class="fa-brands fa-square-instagram"></i>&nbsp;&nbsp;</h2>
                    </a></div>
                <div class="icono-luz"><a href="#">
                        <h2><i class="fa-brands fa-square-facebook"></i>&nbsp;&nbsp;</h2>
                    </a></div>
                <div class="icono-luz"><a href="#">
                        <h2><i class="fa-brands fa-square-twitter"></i>&nbsp;&nbsp;</h2>
                    </a></div>
                <div class="icono-luz">
                    <a href="#">
                        <h2><i class="fa-solid fa-square-envelope"></i>&nbsp;&nbsp;</h2>
                    </a>
                </div>
                <div class="icono-luz">
                    <a href="#">
                        <h2><i class="fa-solid fa-square-phone"></i></h2>
                    </a>
                </div>
            </div>
            <div class="footer-principal-right">

                <div>
                    <h4>&#169; 2023 B&S</h4>
                </div>
            </div>
        </div>
        <div class="footer-principal">
              <%- include('footer'); %>
        </div> 
    </footer>
</body>

</html>