<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles_lg.css">
    <link rel="stylesheet" href="/css/styles-albums.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Iniciar sesión</title>
</head>

<body>
    <header>
        <%- include('header') %> 
    </header>

    <main class="login-main">
        <div class="login-cuadro">
            <div class="login-cuadro-cuadro">
                <form action="/" class="login-form">
                    <div class="login-form-field">
                        <label for="user">Nombre de usuario:</label>
                        <input type="text" id="user" name="user-name" placeholder="User123">
                    </div>
                    <div class="login-form-field">
                        <label for="pass">Contraseña:</label>
                        <input type="password" id="pass" name="password">
                    </div>
                    <div class="login-form-button">
                        <input class="myButton" type="submit" value="Enviar" action="/home.html">
                    </div>
                    &nbsp;<br>
                    <h5><a class="login-form-field" href="#">Olvidé mi usuario</a></h5>
                    &nbsp;<br>
                    <h5><a class="login-form-field" href="#">Olvide mi contraseña</a></h5>
                </form>
            </div>
        </div>

    </main>
        <%- include('footer') %>
    </footer>
</body>

</html>