<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/styles-root.css" >
    <link rel="stylesheet" href="css/styles-header-footer.css">
    <link rel="stylesheet" href="css/styles-register.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Gracias por registrarte</title>
</head>
<body class="body-master">
    <header>
        <%- include('header') %> 
    </header>
    <main class="fx-main">
        <div class="fx-cuadro">
            <div class="fx-cuadro-center">
                <form action="/login" class="fx-form">
                    <div class="fx-field-center">
                        <label for="lname">GRACIAS POR REGISTRARTE !</label>
                    </div>
                    <div class="fx-button">
                        <input class="myButton" type="submit" value="Ir a Login" action="#">
                    </div>
                    &nbsp;<br>
                </form>
            </div>
        </div>
    </main>
    <footer class="footer-main">
        <%- include('footer') %>
    </footer>
</body>

</html>