<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/styles-root.css" rel="stylesheet">
    <link href="css/styles-header-footer.css" rel="stylesheet">
    <link href="css/styles-albums.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Albums</title>
</head>

<body>
    <header>
        <%- include('header') %> 
    </header>
    <main>
        <section class="albums-main-container">
            <article class="album">
                <div class="album-cover">
                    <img class="album-imagen" src="images/albums/Album0001.webp" alt="">
                </div>
                <div class="album-footer">
                    <div class="album-titulo">
                        <h4>Funkadelic</h4>
                        <h4>Maggot Brain</h4>
                        <h5>1971</h5>
                    </div>
                    <div class="album-icono-mas">
                        <h1><a href="#"><i class="fa-solid fa-circle-plus"></i></a></h1>
                    </div>
                </div>
            </article>
            <article class="album">
                <div class="album-cover">
                    <img class="album-imagen" src="images/albums/Album0002.webp" alt="">
                </div>
                <div class="album-footer">
                    <div class="album-titulo">
                        <h4>Bruce Springsteen</h4>
                        <h4>Born in the U.S.A.</h4>
                        <h5>1984</h5>
                    </div>
                    <div class="album-icono-mas">
                        <h1><a href="#"><i class="fa-solid fa-circle-plus"></i></a></h1>
                    </div>
                </div>
            </article>
            <article class="album">
                <div class="album-cover">
                    <img class="album-imagen" src="images/albums/Album0003.webp" alt="">
                </div>
                <div class="album-footer">
                    <div class="album-titulo">
                        <h4>Pink Floyd</h4>
                        <h4>Dark Side of the Moon</h4>
                        <h5>1973</h5>
                    </div>
                    <div class="album-icono-mas">
                        <h1><a href="#"><i class="fa-solid fa-circle-plus"></i></a></h1>
                    </div>
                </div>
            </article>
            <article class="album">
                <div class="album-cover">
                    <img class="album-imagen" src="images/albums/Album0004.webp" alt="">
                </div>
                <div class="album-footer">
                    <div class="album-titulo">
                        <h4>Fletwood Mac</h4>
                        <h4>Rumors</h4>
                        <h5>1977</h5>
                    </div>
                    <div class="album-icono-mas">
                        <h1><a href="#"><i class="fa-solid fa-circle-plus"></i></a></h1>
                    </div>
                </div>
            </article>
            <article class="album">
                <div class="album-cover">
                    <img class="album-imagen" src="images/albums/Album0005.webp" alt="">
                </div>
                <div class="album-footer">
                    <div class="album-titulo">
                        <h4>Grace Jones</h4>
                        <h4>Island Life</h4>
                        <h5>1985</h5>
                    </div>
                    <div class="album-icono-mas">
                        <h1><a href="#"><i class="fa-solid fa-circle-plus"></i></a></h1>
                    </div>
                </div>
            </article>
            <article class="album">
                <div class="album-cover">
                    <img class="album-imagen" src="images/albums/Album0006.webp" alt="">
                </div>
                <div class="album-footer">
                    <div class="album-titulo">
                        <h4>Janet Jackson</h4>
                        <h4>Rhythm Nation 1814</h4>
                        <h5>1989</h5>
                    </div>
                    <div class="album-icono-mas">
                        <h1><a href="#"><i class="fa-solid fa-circle-plus"></i></a></h1>
                    </div>
                </div>
            </article>
            <article class="album">
                <div class="album-cover">
                    <img class="album-imagen" src="images/albums/Album0007.webp" alt="">
                </div>
                <div class="album-footer">
                    <div class="album-titulo">
                        <h4>Judas Priest</h4>
                        <h4>British Steel</h4>
                        <h5>1980</h5>
                    </div>
                    <div class="album-icono-mas">
                        <h1><a href="#"><i class="fa-solid fa-circle-plus"></i></a></h1>
                    </div>
                </div>
            </article>
            <article class="album">
                <div class="album-cover">
                    <img class="album-imagen" src="images/albums/Album0008.webp" alt="">
                </div>
                <div class="album-footer">
                    <div class="album-titulo">
                        <h4>Lady Gaga</h4>
                        <h4>The Fame Monster</h4>
                        <h5>2009</h5>
                    </div>
                    <div class="album-icono-mas">
                        <h1><a href="#"><i class="fa-solid fa-circle-plus"></i></a></h1>
                    </div>
                </div>
            </article>
            <article class="album">
                <div class="album-cover">
                    <img class="album-imagen" src="images/albums/Album0009.webp" alt="">
                </div>
                <div class="album-footer">
                    <div class="album-titulo">
                        <h4>Madonna</h4>
                        <h4>True Blue</h4>
                        <h5>1986</h5>
                    </div>
                    <div class="album-icono-mas">
                        <h1><a href="#"><i class="fa-solid fa-circle-plus"></i></a></h1>
                    </div>
                </div>
            </article>
            <article class="album">
                <div class="album-cover">
                    <img class="album-imagen" src="images/albums/Album0010.webp" alt="">
                </div>
                <div class="album-footer">
                    <div class="album-titulo">
                        <h4>Nirvana</h4>
                        <h4>Nevermind</h4>
                        <h5>1991</h5>
                    </div>
                    <div class="album-icono-mas">
                        <h1><a href="#"><i class="fa-solid fa-circle-plus"></i></a></h1>
                    </div>
                </div>
            </article>
        </section>
    </main>
    <footer class="footer-main">
        <%- include('footer') %>
    </footer>
</body>


</html>